@inherits LayoutComponentBase

<PageTitle>BlazorClient</PageTitle>

<div class="page" style="display:flex; flex-direction:column;">
    <header>
        <a href="/PatientRegistration">Регистрация пациент</a>
        <a href="/Patients">Пациенты</a>
        <a href="/Login">Авторизация</a>
    </header>
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
